---
import Layout from "../../layouts/Layout.astro";

import NosotrosPage from "../NosotrosPage.astro"
---

<Layout title="Hotel Emporio Real" description="Habitaciones">
   
     
  
     
    <main>
      
      <NosotrosPage />

  
    </main>
  
  </Layout>