---
import Layout from "../../layouts/Layout.astro";

import Intro from "../Intro.astro"
---

<Layout title="Hotel Emporio Real" description="Habitaciones">
   
     
  
     
    <main>
      
      <Intro />

  
    </main>
  
  </Layout>