---
import Layout from "../../layouts/Layout.astro";

import Galeria from "../Galeria.astro";
---

<Layout title="Hotel Emporio Real" description="Habitaciones">
   
     
  
     
    <main>
      
      <Galeria />

  
    </main>
  
  </Layout>