---
import Layout from '../layouts/Layout.astro'
import Imagen from '../components/Imagen.astro'
import Elegirnos from '../components/Elegirnos.astro'
import Entorno from '../components/Entorno.astro'

import Habitaciones from '../components/Habitaciones.astro'

import Intro from '../components/Intro.astro'
import Numeros from '../components/Numeros.astro'
import Reserva from '../components/Reserva.astro'
import Video from '../components/Video.astro'

import Ubicacion from '../components/Ubicacion.astro'

---

<Layout title="Hotel Emporio Real" description="Un Hotel perfecto para un descanso comodo en Yopal">
	<Imagen />
	<main>
		<Intro />
		<Numeros />
		<Habitaciones />
		<Elegirnos />
		<Entorno />
		<Ubicacion />
		<Reserva />
		<Video />
		
		

		
		
	</main>
	
</Layout>


