<section class="text-xl text-left px-20 max-w-[105ch] text-pretty mx-auto my-24">

    
    <h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">Fechas Especiales</h1>

    <p>
       <strong> Celebra tus momentos más especiales en nuestro hotel</strong> Haz que cada celebración sea inolvidable en el lugar perfecto. Ya sea un aniversario, cumpleaños, boda o cualquier ocasión importante, nuestro hotel está diseñado para brindarte una experiencia única y llena de encanto. <strong> Disfruta de instalaciones de lujo, servicio personalizado y espacios acogedores</strong>, todo en un entorno que te hará sentir como en casa. Desde cenas románticas hasta eventos elegantes, nuestro equipo está listo para hacer realidad la celebración de tus sueños.
    </p>
    <p>
        <strong>¡Ven y crea recuerdos inolvidables con nosotros</strong>, donde cada momento es especial y cada detalle cuenta!
    </p>

</section>
<div class="grid grid-cols-1 md:grid-cols-3 max-w-6xl gap-6 mx-auto py-20">

    <div>
        <img src="./especial1.webp" alt="Responsive image 1" class="w-full h-auto rounded-lg bg-gray-500">
    </div>
    <div>
        <img src="./especial2.webp" alt="Responsive image 2" class="w-full h-auto rounded-lg bg-gray-500">
    </div>
    <div>
      <img src="./especial3.webp" alt="Responsive image 2" class="w-full h-auto rounded-lg bg-gray-500">
  </div>

 

</div>