<div style="background-color: #eef4f6;" class="my-component">
<section class="text-xl text-left px-20 max-w-[105ch] text-pretty mx-auto my-24">
    <img class="w-24 mb-10 m-auto" src="./ubicacion.png" alt="Logo hotel emporio real">

    <h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
       Explora Yopal Casanare
    </h1>
    <p>
        Descubre un rincón de tranquilidad en el <strong> corazón de los Llanos Orientales.</strong> Ubicado en la vibrante ciudad de <strong> Yopal, Casanare,</strong> este destino combina la serenidad del entorno natural con la energía de la cultura llanera. Entre los majestuosos paisajes de sabanas y montañas, Yopal te invita a experimentar una escapada inolvidable, donde la autenticidad y la modernidad se entrelazan.
    </p>

    <p>
        <strong>Yopal te invita a desconectar de la rutina y sumergirte en una experiencia única,</strong> donde la naturaleza y la cultura se combinan para ofrecerte una estancia inolvidable en el corazón de Colombia.
    </p>

</section>
<div class="grid grid-cols-1 md:grid-cols-3 max-w-6xl gap-6 mx-auto py-20  ">
    <div class="">
        <img class="rounded-lg bg-gray-500" src="./yopal1.jpg" alt="">
    </div >
    <div class="">
        <img class="rounded-lg bg-gray-500" src="./yopal2.jpg" alt="">
    </div>
    <div class="">
        <img class="rounded-lg bg-gray-500" src="./yopal3.jpg" alt="">
    </div>
</div >
</div>


<style>
    .my-component {
    padding: 20px;
    border-radius: 8px; /* O cualquier otro estilo que desees */
  }
</style>