
<div style="background-color: #eef4f6;" class="my-component">

<section class="text-xl text-left px-20 max-w-[105ch] text-pretty mx-auto my-24 ">
  

  <h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">Habitaciones Comodas</h2>
    <p>
        Contamos con<strong> mas de 30 habitaciones  elegantes y confortables.</strong> Nuestro hotel ofrece el refugio perfecto para tus vacaciones o tu dia a dia. Sumérgete en un ambiente veraniego, donde cada detalle está diseñado para tu <strong>máximo confort y relajación.</strong> 
    </p>
    
    
</section>
<div class="grid grid-cols-1 md:grid-cols-3 max-w-6xl gap-6 mx-auto py-20">
  <div>
      <img src="./cambio2.webp" alt="Responsive image 1" class="w-full h-auto rounded-lg bg-gray-500">
  </div>
  <div>
      <img src="./img-8.webp" alt="Responsive image 2" class="w-full h-auto rounded-lg bg-gray-500">
  </div>
  <div>
    <img src="./cambio3.webp" alt="Responsive image 2" class="w-full h-auto rounded-lg bg-gray-500">
</div>

<a class="text-xl text-left px-20 max-w-[105ch] text-pretty mx-auto my-2 text-blue-700 " href="/page">Ver más</a>


</div>

<style>
    .swiper-slide {
      height: 600px;
      border-radius: 10px;
      overflow: hidden;
    }
    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .my-component {
    padding: 14px;
    border-radius: 8px; /* O cualquier otro estilo que desees */
  }
  </style>