
<div style="background-color: #eef4f6;" class="my-component">

<section class="text-xl text-left px-20 max-w-[105ch] text-pretty mx-auto my-24 ">
    <img class="w-15 mb-10 m-auto" src="./logo1.png" alt="Logo hotel emporio real">

    <h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
        Hotel Emporio Real
    </h1>
    <p>
        Descubre nuestras delicias gastronomicas y paisajes hermosos en<strong> Yopal Casanare.</strong>  Situado en nuestros llanos horientales, el <strong> Hotel Emporio Real</strong> te invita a experimentar una escapada inolvidable en un entorno de estilo contemporáneo y ambiente tranquilo.  Estamos <strong>ubicados en la calle 24#16 - 18, Piso 2,</strong> Yopal Casanare Colombia.
    </p>

    <p>
        Contamos con <strong> mas de 30 habitaciones elegantes y confortables,</strong> nuestro hotel ofrece el refugio perfecto para tus vacaciones. Sumérgete en un ambiente veraniego, donde cada detalle está diseñado para tu máximo confort y relajación.
    </p>

</section>
<div class="grid grid-cols-1 md:grid-cols-2 max-w-6xl gap-6 mx-auto py-20">
    <div>
        <img src="./img2.webp" alt="Responsive image 1" class="w-full h-auto rounded-lg bg-gray-500">
    </div>
    <div>
        <img src="./img3.webp" alt="Responsive image 2" class="w-full h-auto rounded-lg bg-gray-500">
    </div>
    
</div>
</div>



<style>
    .my-component {
    padding: 14px;
    border-radius: 8px; /* O cualquier otro estilo que desees */
  }
</style>
