<div style="background-color: #eef4f6;" class="my-component">

<section class="max-w-6xl mx-auto py-20 px-20 ">
    <h2 class="text-4xl lg:text-5xl font-tomaso font-semibold text-center text-balance mb-10 lg:mb-20">Ventajas de reservar con nosotros</h2>
    
    <div class="grid cols-1 lg:grid-cols-3 gap-y-10 mt-6">

    <div class="flex flex-col justify-center items-center">
         <img src="./wifi.png" alt="" class="w-24 mx-auto">  
        <span class="uppercase font-semibold"> wifi gratis</span>
        <span class=" opacity-70 text-center">Wifi de alta velocidad gratuito</span>
    </div>

     <div class="flex flex-col justify-center items-center">
         <img src="./vehiculo.png" alt="" class="w-24 mx-auto">  
        <span class="uppercase font-semibold">Parking gratuito</span>
        <span class="opacity-70 text-center">Tendrás una plaza reservada en nuestro parking para que la comodidad de tu estancia sea completa.</span>
    </div>

     <div class="flex flex-col justify-center items-center">
         <img src="./ubicacionn.png" alt="" class="w-24 mx-auto">  
         <span class="uppercase font-semibold">Buena ubicacion</span>
         <span class="opacity-70 text-center">Disfruta de una ubicación privilegiada en Yopal Casanare.</span>
    </div>

     <div class="flex flex-col justify-center items-center">
         <img src="./food.png" alt="" class="w-24 mx-auto">  
         <span class="uppercase font-semibold">Restaurante</span>
         <span class="opacity-70 text-center">Podras disfrutar de nuestra variedad gastronomica.</span>
    </div>

     <div class="flex flex-col justify-center items-center">
         <img src="./comodo.png" alt="" class="w-24 mx-auto">  
         <span class="uppercase font-semibold">Comodidad</span>
         <span class="opacity-70 text-center">Con nuestras habitaciones tendras un descanso inolvidable.</span>
    </div>

     <div class="flex flex-col justify-center items-center">
         <img src="./aire.png" alt="" class="w-24 mx-auto">  
         <span class="uppercase font-semibold">Aire acondicionado</span>
         <span class="opacity-70 text-center">Tendras a tu disposicion el aire acondicionado para que te refresques..</span>
    </div>
</div>
</section>
</div>



<style>
    .my-component {
    padding: 20px;
    border-radius: 8px; /* O cualquier otro estilo que desees */
  }
</style>








