
<section class="text-xl text-left px-20 max-w-[105ch] text-pretty mx-auto my-24">
    <img class="w-24 mb-10 m-auto" src="./mapa.png" alt="Logo hotel emporio real">

    <h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
       Nuestra Ubicacion
    </h1>
</section>

<div class="flex justify-center items-center mx-auto py-10">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d993.1340877833626!2d-72.39644382212978!3d5.33475613051307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6b0db739dfcf27%3A0x372c28fdfda8f6d7!2sHotel%20Emporio%20Real!5e0!3m2!1ses-419!2sco!4v1727734791131!5m2!1ses-419!2sco" 
    width="850" 
    height="450" 
    allowfullscreen="" 
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="border-0"
    ></iframe>
</div>



